PORT=

DB_URL=

MAIL_PASS=
MAIL_USER=
MAIL_HOST=
MAIL_PORT=

ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME=
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME=

SUPER_ADMIN_FULL_NAME=
SUPER_ADMIN_AGE=
SUPER_ADMIN_PHONE_NUMBER=
SUPER_ADMIN_PASSWORD=